* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
a {
	text-decoration: none;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

header {
	position: relative;
	width: 90%;
	padding: 15px 0;
	margin: 0 auto;
	text-align: center;
}

.headline {
	font-size: 32px;
	color: black;
}

.nav-bar {
	font-size: 18px;
}

.nav-list-item {
	margin: 0 20px;
	color: black;
}

.top-visual {
	width: 100%;
	height: 500px;
	background-image: url(pictures/building-joy-planning-plans.jpg);
	background-size: 100% 100%;
	background-position: center;
}

.top-visual-text {
	font-size: 32px;
	text-align: center;
	padding-top: 200px;
}

.concept {
	width: 100%;
	text-align: center;
	padding-top: 30px;
}

.concept-text {
	font-size: 20px;
	padding-bottom: 30px;
}

.link-box {
	width: 40%;
	height: 100px;
	background-size: 100% 100%;
}

.link-box1 {
	background-image: url(pictures/bricks-wall-stones-structure-37865.jpeg);
}

.link-box2 {
	background-image: url(pictures/pexels-photo-220182.jpeg);
}

.link-box3 {
	background-image: url(pictures/pexels-photo-renga.jpg);
/*	margin-bottom: 30px;*/
}

.link-text {
	color: white;
	font-size: 40px;
	text-align: right;
	border-bottom: 3px solid #003300;
}

.back-image1 {
	width: 100%;
	height: 200px;
	margin-top: 30px;
	background-color: #f7f7f7;
	background-size: 100% 100%;
	background-position: center;
}

.back-image2 {
	width: 90%;
	height: 300px;
	background-size: 100% 100%;
	background-image: url(pictures/pexels-photo-418806.jpeg);
}

.sitemap {
	background-color: black;
	margin-top: 30px;
}

.sitemap-text {
	color: #f7f7f7;
	margin: 0 20px;
}






/*about.html*/
.about-visual {
	width: 100%;
	height: 250px;
	background-image: url(pictures/pexels-photo-276549.jpeg);
	background-size: 70% 100%;
	background-position: center;
}

.about-visual-text {
	font-size: 40px;
	text-align: center;
	padding-top: 100px;
}

.about-visual-text strong {
	color: #f7f7f7;
}

.post h3 {
	border-left: solid 0.75rem #BF6A7A;
	border-left: solid 0.75rem #BF6A7A;
	font-size: 2rem;
}


/*price.html*/
.price-visual {
	width: 100%;
	height: 250px;
	background-image: url(pictures/alvin-engler-48444.jpg);
	background-size: 70% 100%;
	background-position: center;
}



/*questions.html*/
.questions-visual {
	width: 100%;
	height: 250px;
	background-image: url(pictures/pexels-photo-139764.jpeg);
	background-size: 70% 100%;
	background-position: center;
}


/*blog-index.html*/
.blogindex-visual {
	width: 100%;
	height: 250px;
	margin-bottom: 30px;
	background-image: url(pictures/pexels-photo-414645.jpeg);
	background-size: 70% 100%;
	background-position: center;
}



/*blog-show.html*/
.image {
	width: 70%;
	height: 200px;
	margin-bottom: 30px;
	background-image: url(pictures/pexels-photo-706143.jpeg);
	background-size: 70% 100%;
	background-position: center;
}


/*news.html*/
.newsindex-visual {
	width: 100%;
	height: 250px;
	margin-bottom: 30px;
	background-image: url(pictures/pexels-photo-706143.jpeg);
	background-size: 70% 100%;
	background-position: center;
}



/*top.html*/
.login-visual {
	width: 100%;
	height: 500px;
	margin-bottom: 30px;
	background-image: url(pictures/pexels-photo-164287.jpeg);
	background-size: 100% 100%;
	background-position: center;
}


/*staffhome.html*/
.staffhome-visual {
	width: 100%;
	height: 250px;
	margin-bottom: 30px;
	background-image: url(pictures/smartphone-vintage-technology-music.jpg);
	background-size: 100% 100%;
	background-position: center;
}

.staff-top-text {
	font-size: 23px;
	color: #9999ff;
	text-align: center;
	margin-top: 200px;
}












